:root {
    --main-color: #313233;
    --secondary-color: #00b1dd;
    --third-color: #0003b8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-color: var(--secondary-color); 
}

.header {
    background-color: var(--main-color);
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 20px;

}

header h1 {
    color: var(--secondary-color);
    margin: 5px 10px 5px 30px;
    font-size: 50px;
}

header nav {
   padding-top: 20px;
   margin-right: 20px;
   font-size: 30px;
   display: flex;
   justify-content: flex-end;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color: var(--third-color);
}

header nav ul li a:hover {
    background: var(--main-color);
    color: var(--secondary-color);
    border-radius: 10px;
    text-shadow: none;
}

p {
    font-size: 24px;
    padding: 5px 35px 0px 20px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.pic {
    position: relative;
    margin: 15px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.side-detail {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}

.title {
    font-size: 44px;
    display: inline-block;
    border-right: 5px;
    margin-right: 30px;
    color: var(--main-color);
    text-align: right;
    padding: 25px;
    flex-basis: 25%;
}

.border {
    border-color: var(--main-color);
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
}

.card-detail {
    position: relative;
    margin: 10px;
    width: fit-content;
}

.card-detail:hover {
    background-color: var(--main-color);
}

img {
    border: 5px solid var(--third-color);
}

.text-left {
    position: relative;
    padding: 3px;
    bottom: 15px;
    text-align: left;
    font-size: 12px;
    color: white;
    background-color: var(--third-color);
}

.footer {
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        flex-direction: column;
        text-align: center;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
        margin: 5px
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 18px;
    }

    p {
        flex: 2 100%;
        text-align: left;
        justify-content: left;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 25px 10px;
        text-align: center;
    }
    .side-detail {
        flex-direction: column;
    }
    .title {
        font-size: 44px;
        text-align: center;
        flex-direction: column;
        border-bottom: 5px solid;
        border-right: none;
    }
}